{% extends 'users/base.html.twig' %}
   {% block title %}Categories{% endblock %}
        {% block body %}


            <body class="header_sticky header-style-1 has-menu-extra">
        <!-- Preloader -->
        {#        <div id="loading-overlay">#}
        {#            <div class="loader"></div>#}
        {#        </div>#}

        <div class="boxed">
            <div id="site-header-wrap">
                {% include 'users/header.html.twig' %}
            </div>

            <!-- Page title -->
            <div class="page-title parallax parallax1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="title">Produits</h1>
                            </div><!-- /.page-title-heading -->

                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.page-title -->

            <section class="flat-row main-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="product-content product-threecolumn clearfix">
                                <ul class="product">
                                    {% for produit in produits %}
                                        <li class="product-item">
                                            <div class="product-thumb clearfix">
                                                <a href="{{ path('produit_show_user', {'id': produit.id}) }}">
                                                    <img style="width: 386px ; height: 386px  " src="/uploads/{{ produit.image }}" alt="image">
                                                </a>
                                            </div>
                                            <div class="product-info clearfix">
                                                <span class="product-title">{{ produit.nom }}</span>
                                                <div class="price">
                                                    <ins>
                                                        <span class="amount">{{ produit.prix }} Dinars</span>
                                                    </ins>
                                                </div>
                                            </div>
                                            <div class="add-to-cart text-center">
                                                <a href="#">ADD TO CART</a>
                                            </div>


                                        </li>
                                    {% endfor %}
                                </ul><!-- /.product -->
                            </div><!-- /.product-content -->

                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.flat-row -->

            <!-- Page title -->
            <div class="page-title parallax parallax1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-heading">
                                <h1 class="title">Sous Categorie</h1>
                            </div><!-- /.page-title-heading -->

                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.page-title -->

            <section class="flat-row main-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="product-content product-fivecolumn clearfix">
                                <ul class="product">
                                    {% for SousCategorie in SousCategories %}
                                        <li class="product-item">
                                            <div class="product-thumb clearfix">
                                                <a href="/sous_categories/user/{{ SousCategorie.id }}">
                                                    <img style="width: 233px ; height: 233px  " src="/uploads/{{ SousCategorie.image }}" alt="image">
                                                </a>
                                            </div>
                                            <div class="product-info clearfix">
                                                <span class="product-title">{{ SousCategorie.nom }}</span>

                                            </div>
                                            <div class="add-to-cart text-center">
                                                <a href="/sous_categories/user/{{ SousCategorie.id }}">voir details</a>
                                            </div>


                                        </li>
                                    {% endfor %}
                                </ul><!-- /.product -->
                            </div><!-- /.product-content -->

                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.flat-row -->


            {% include 'users/footer.html.twig' %}
        </div>

        {% endblock %}